---
import Layout from "../layouts/Layout.astro";
import { parseBenchmarkData } from "../benchmark_parser";
import BenchmarkChart from "../components/BenchmarkChart.astro";
const fullData = await parseBenchmarkData();
const dataset = fullData.images.sort((a, b) => b.times_faster - a.times_faster);
---

<Layout title="Docker Repack: Benchmarks">
  <h1 class="text-3xl font-bold mb-4">Image Benchmarks</h1>
  <div class="columns-1 md:columns-2 mb-2">
    {
      dataset.map((image) => (
        <div>
          <a href={"#" + image.name_slug}>
            <span class="inline md:hidden">{image.repo}</span>
            <span class="hidden md:inline">{image.name}</span>
            <span class="float-right">
              <strong>{image.times_faster}x</strong> faster,{" "}
              <strong>{image.times_smaller}x</strong> smaller{" "}
            </span>
          </a>
        </div>
      ))
    }
  </div>

  {dataset.map((image) => <BenchmarkChart image={image} />)}
</Layout>
