---
import ReactBenchmarkChart from "./ReactBenchmarkChart";
import { type BenchmarkImage } from "../benchmark_parser";
import { formatDuration } from "../utils.ts";
import LayerChart from "./ReactLayerChart";
import { humanFileSize } from "../utils";

interface Props {
  image: BenchmarkImage;
}

const { image } = Astro.props;

const fastest_image = image.times.reduce((acc, time) => {
  if (time.time < acc.time) {
    return time;
  }
  return acc;
}, image.times[0]);
const original = image.times.find((time) => time.type === "original")!;
if (fastest_image.layers == undefined) {
  throw new Error(`No fastest image found for ${JSON.stringify(image)}`);
}
---

<h1 class="text-2xl font-bold mb-2">
  <a id={image.name_slug}>
    <code class="p-1 font-mono overflow-x-auto">{image.name}</code>
    ({image.times_faster}x faster, {image.times_smaller}x smaller){" "}
  </a>
</h1>

<div class="columns-2 mb-2">
  <div>
    <p>Original: {formatDuration(original.time)}</p>
    <p>Fastest: {formatDuration(fastest_image.time)}</p>
    <div class="h-96">
      <ReactBenchmarkChart image={image} prop="time" client:only="react" />
    </div>
  </div>
  <div>
    <p>Original: {humanFileSize(original.total_size)}</p>
    <p>Fastest: {humanFileSize(fastest_image.total_size)}</p>
    <div class="h-96">
      <ReactBenchmarkChart
        image={image}
        prop="total_size"
        client:only="react"
      />
    </div>
  </div>
</div>
<div class="columns-2 mb-2">
  <div>
    <p>Layers: {original.layers.length}</p>
    <div class="h-96">
      <LayerChart layers={original.layers} client:only="react" />
    </div>
  </div>
  <div>
    <p>Layers: {fastest_image.layers.length}</p>
    <div class="h-96">
      <LayerChart layers={fastest_image.layers} client:only="react" />
    </div>
  </div>
</div>
