---
import ReactBenchmarkChart from "./ReactBenchmarkChart";
import { type BenchmarkImage } from "../benchmark_parser";
import { formatDuration } from "../utils.ts";
import LayerChart from "./ReactLayerChart";
import { humanFileSize } from "../utils";

interface Props {
  image: BenchmarkImage;
}

const { image } = Astro.props;

const fastest_image = image.times.reduce((acc, time) => {
  if (time.time < acc.time) {
    return time;
  }
  return acc;
}, image.times[0]);
const original = image.times.find((time) => time.type === "original")!;
if (fastest_image.layers == undefined) {
  throw new Error(`No fastest image found for ${JSON.stringify(image)}`);
}
---

<h1 class="text-2xl font-bold mb-2">
  <a id={image.name_slug}>
    <code class="p-1 font-mono">{image.name}</code>
  </a>
</h1>
<p>
  <strong>Original</strong>: {original.layers.length} layers, {
    humanFileSize(original.total_size)
  }, {formatDuration(original.time)}
</p>
<p>
  <strong>Repacked</strong>: {fastest_image.layers.length} layers, {
    humanFileSize(fastest_image.total_size)
  }, {formatDuration(fastest_image.time)}
</p>
<p>
  <strong>Reduction</strong>: {image.times_faster}x faster, {
    image.times_smaller
  }x smaller
</p>

<div class="columns-1 md:columns-2 mb-2">
  <div>
    <h1 class="text-2xl text-center">Pull time</h1>
    <div class="h-96">
      <ReactBenchmarkChart image={image} prop="time" client:only="react" />
    </div>
  </div>
  <div>
    <h1 class="text-2xl text-center">Image Size</h1>
    <div class="h-96">
      <ReactBenchmarkChart
        image={image}
        prop="total_size"
        client:only="react"
      />
    </div>
  </div>
</div>
<div class="columns-2 mb-2 hidden md:block">
  <div>
    <h1 class="text-2xl text-center">Original Layers</h1>
    <div class="h-96">
      <LayerChart layers={original.layers} client:only="react" />
    </div>
  </div>
  <div>
    <h1 class="text-2xl text-center">Repacked Layers</h1>
    <div class="h-96">
      <LayerChart layers={fastest_image.layers} client:only="react" />
    </div>
  </div>
</div>
